.result {
  height: 60px;
  background-color: grey;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  width: 400px;
}

.button {
  display: block;
  background-color: black;
}

button {
  width: 25%;
  height: 30px;
  font-size: 15px;
  background-color: white;

}